*venv
.qodo
.DS_Store
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.swp
*.swo
.idea/
.vscode/
.env
.env.*
coverage/
htmlcov/
.tox/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache
scrapy.cfg
docs/_build/
target/
*.egg-info/
dist/
build/
pip-wheel-metadata/                 